html,body,#root {
    background: #fff;
}

.loginBox {padding:40px 0; }
.loginBox .am-list { padding: 0 40px}

.loginInput {
    padding:20px;
}

.loginImg { padding: 15px 0; text-align: center; margin-top: 10px}

.loginImg img {width: 120px;height: 120px;}
.loginImg h3 {font-weight: normal}

.right {float: right}
.left {float: left}

.lineH42 {line-height: 42px}
.marginBottom {margin-bottom:20px; width:100%; text-align: center;position: fixed; bottom: 10px}

.loginBox .am-list-body,.loginBox .am-list-line {border:none !important}

.am-tab-bar-tab-title {font-size: 14px!important}

.marginBottom a { margin: 0 10px}